body {
  background-color: #caf5ff;
}

/* Style untuk header */

header {
  background-image: radial-gradient(
    circle at -4.41% 88.1%,
    #caf5ff 0,
    #8ed6fe 25%,
    #3cb5f2 50%,
    #0094e6 75%,
    #0076db 100%
  );
  padding: 10px 0;
}

/* Style untuk navbar */
.navbar {
  position: relative;
  margin: 20px auto 0;
  width: 95%;
}

.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

.navbar-nav .nav-link {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-nav .nav-item:hover {
  color: orange;
}

/* Style untuk banner */
#banner {
  background-color: #f2f2f2;
  padding: 50px 0;
  position: relative;
}

#banner h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.banner-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-text h1 {
  margin-left: 10px;
  font-size: 48px;
  text-align: center;
}

.banner-text p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
  text-align: center;
}

/* footer style */
footer {
  color: white;
  margin-top: 20px;
}

footer ul {
  color: #787c80;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}
h5,
h6,
p {
  font-weight: 300;
}
:root {
  --colorOne: #19456b;
  --colorTwo: #16c79a;
}
.center-vertical {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}
.about-us-section {
  width: 100%;
  padding: calc(5% + 30px) 0px;
}
.about-us-section .img-head {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.about-us-section .img-head img {
  width: 100%;
  transition: transform 0.3s;
  border-radius: 10px;
}
.about-us-section .img-head:hover img {
  transform: scale(1.2);
}
.about-us-section .img-head::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #19456b, #000000);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
}
.about-us-section .text-head {
  font-size: 28px;
  color: #0076db;
}
.about-us-section .break-small {
  width: 80px;
  height: 3px;
  background-color: #0094e6;
}
.about-us-section .text-para {
  font-size: 16px;
  color: black;
}
.about-us-section .box {
  background-color: #0076db;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.about-us-section .box i {
  font-size: 42px;
}
.about-us-section .box h4 {
  font-size: 14px;
}
.about-us-section .box p {
  font-size: 22px;
}
.about-us-section .box::after,
.about-us-section .box::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff5;
  border-radius: 50%;
  transition: transform 0.3s;
}
.about-us-section .box::after {
  left: -50px;
  top: -50px;
}

.about-us-section .box::before {
  right: -50px;
  bottom: -50px;
}
.about-us-section .box:hover::after,
.about-us-section .box:hover::before {
  transform: scale(1.2);
}

#our-skills {
  padding: 60px 0;
}

#our-skills h2 {
  text-align: center;
}

.skill {
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  margin-bottom: 30px;
}

.skill h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.team-member {
  text-align: center;
  margin-bottom: 30px;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.team-member h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.team-member p {
  font-size: 18px;
  color: #777;
}

#our-skills h2 {
  font-size: 28px;
  color: #0076db;
}
#our-skills .break-small {
  width: 80px;
  height: 3px;
  background-color: #0094e6;
}
.skill-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skill-bar-progress {
  height: 40px;
  background-color: #007bff;
  border-radius: 5px;
}

.skill-bar-title {
  font-weight: bold;
  margin-left: 10px;
}

.skill-bar-percent {
  height: 40px;
  background-color: #212529;
  margin-left: auto;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  line-height: 40px; /* sesuaikan dengan nilai height */
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 990px) {
  .skill-bars {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .team-member {
    margin-top: 40px;
  }
  .skill-bar-title {
    margin-right: 10px;
  }
}
