body {
  background-color: #caf5ff;
}

/* Style untuk header */

header {
  background-image: radial-gradient(
    circle at -4.41% 88.1%,
    #caf5ff 0,
    #8ed6fe 25%,
    #3cb5f2 50%,
    #0094e6 75%,
    #0076db 100%
  );
  padding: 10px 0;
}

/* Style untuk navbar */
.navbar {
  position: relative;
  margin: 20px auto 0;
  width: 95%;
}

.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

.navbar-nav .nav-link {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-nav .nav-item:hover {
  color: orange;
}

/* Style untuk banner */
#banner {
  background-color: #f2f2f2;
  padding: 50px 0;
  position: relative;
}

#banner h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.banner-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-text h1 {
  margin-left: 10px;
  font-size: 48px;
  text-align: center;
}

.banner-text p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
  text-align: center;
}

footer {
  font-weight: bold;
}

/* portfoliolist */

.portfolio-top {
  padding: 5% 0 0;
}

.portfolio-top h3 {
  text-align: center;
  font-size: 2.5em;
  color: #424147;
  font-weight: 600;
  font-family: "times New Roman";
  text-transform: uppercase;
  margin-bottom: 15px;
}

.portfolio-top h5 {
  text-align: center;
  font-size: 1.5em;
  color: #424147;
  font-weight: 600;
  font-family: "Century Gothic";
  margin-bottom: 60px;
}

.portfolio-top h3 {
  font-size: 2em;
}

.portfolio-top h5 {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#filters {
  padding: 0% 10% 5% 10%;
  list-style: none;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  font-size: 1.5em;
}

#filters li span.active {
  background: #fc4f00;
  color: #000;
  border-radius: 15px;
}

#portfoliolist .portfolio {
  width: 31.3%;
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  background: #f79540;
  border-radius: 20px;
  cursor: pointer;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  display: block;
  transition: all 300ms !important;
  -webkit-transition: all 300ms !important;
  -moz-transition: all 300ms !important;
}

.portfolio .text-category {
  display: block;
  font-size: 9px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
}

.links {
  padding: 10px 20px;
}

.links h4 {
  padding-bottom: 10px;
  float: left;
}

.links h4 a {
  color: #fff;
  font-size: 1.4em;
}

.links h4 a:hover {
  color: #000;
}

.links ul li a {
  font-size: 13px;
  color: #fff;
  padding-left: 5px;
}

.links ul li a:hover {
  text-decoration: underline;
}

/* End portfoliolist */

/* Project */

/* End Project */
