body {
  background-color: #e0e0e0;
}

/* Style untuk header */
header {
  background-color: #cdcdcd;
  padding: 10px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #cdcdcd;
}

/* Style untuk navbar */
.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-weight: bold;
}

/* Style untuk banner */
#banner {
  background-color: #f2f2f2;
  padding: 50px 0;
  position: relative;
}

#banner h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.banner-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-text h1 {
  margin-left: 10px;
  font-size: 48px;
}

.banner-text p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
}

.banner-text button {
  margin-left: 10px;
  font-size: 14px;
}

/* Style untuk order now modal */
.modal-content table {
  margin-bottom: 0;
}

/* Style untuk about us */
#about-us {
  background-color: #e0e0e0;
  padding: 50px 0;
}

#about-us h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

#about-us p {
  margin-bottom: 30px;
}

/* Style untuk services */
#services {
  background-color: #e0e0e0;
  padding: 50px 0;
}

#services h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

#services p {
  margin-bottom: 30px;
}

/* Footer */
footer {
  font-weight: bold;
  margin-top: 10px;
  
  
}

/* TODOS STYLE */
.td-card {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .col-md-6 {
    margin-bottom: 20px;
  }
}

.card-body .btn {
  margin-top: 5px;
}

.card-body .list-group {
  margin-left: 5px;
}

.float-right {
  float: right;
}

/* portfoliolist */

.portfolio-top {
  padding: 5% 0 0;
}

.portfolio-top h3 {
  text-align: center;
  font-size: 2.5em;
  color: #424147;
  font-weight: 600;
  font-family: "times New Roman";
  text-transform: uppercase;
  margin-bottom: 15px;
}

.portfolio-top h5 {
  text-align: center;
  font-size: 1.5em;
  color: #424147;
  font-weight: 600;
  font-family: "Century Gothic";
  margin-bottom: 60px;
}

.portfolio-top h3 {
  font-size: 2em;
}

.portfolio-top h5 {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#filters {
  padding: 0% 10% 5% 10%;
  list-style: none;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  font-size: 1.5em;
}

#filters li span.active {
  background: #FC4F00;
  color: #000;
  border-radius: 15px;
}

#portfoliolist .portfolio {
  width: 31.3%;
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  background: #F79540;
  border-radius: 20px;
  cursor: pointer;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  display: block;
  transition: all 300ms !important;
  -webkit-transition: all 300ms !important;
  -moz-transition: all 300ms !important;
}

.portfolio .text-category {
  display: block;
  font-size: 9px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
}

.links {
  padding: 10px 20px;
}

.links h4 {
  padding-bottom: 10px;
  float: left;
}

.links h4 a {
  color: #fff;
  font-size: 1.4em;
}

.links h4 a:hover {
  color: #000;
}

.links ul li a {
  font-size: 13px;
  color: #FFF;
  padding-left: 5px;
}

.links ul li a:hover {
  text-decoration: underline;
}

/* End portfoliolist */

/* Project */

/* End Project */